<div class="container">
    <div class="row">
        <h1 class="h3 text-center mb-4 mt-4 display-4">Registro de cliente</h1>
        <div class="form-box">
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" [(ngModel)]="clienteData.email" placeholder="name@example.com">
                <label for="floatingInput">Correo Electronico</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingName" [(ngModel)]="clienteData.name" placeholder="Nombre">
                <label for="floatingName">Nombre</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingDocument" [(ngModel)]="clienteData.document" placeholder="Documento" required>
                <label for="floatingDocument">Número de Documento</label>
            </div>
            <button type="button" class="btn btn-primary" (click)="registrarCliente(clienteData)">Registrar</button>
        </div>
        <div class="text-center mt-4">
          <button type="button" class="btn btn-primary" (click)="volverAlListado()">Volver al Listado</button>
        </div>
        <div *ngIf="mostrarAlerta" class="alert alert-success fixed-top" role="alert" style="z-index: 99999;">
          {{ mensajeAlerta }}
        </div>
    </div>
</div>
