<div class="container" *ngIf="historial">
  <div class="row">
    <div>
      <h1 class="h3 text-center mb-4 mt-4 display-4">Historial de Recargas del Cliente</h1>
      <p><strong>Cliente:</strong> {{ cliente.name }}</p>
      <p><strong>Documento:</strong> {{ cliente.document }}</p>
      <p><strong>Email:</strong> {{ cliente.email }}</p>

      <table class="table table-dark table-hover table-striped" *ngIf="historial && historial.length > 0">
        <thead class="thead-dark">
          <tr>
            <th>UUID</th>
            <th>Fecha</th>
            <th>Monto</th>
            <th>Telefono Recargado</th>
            <th>Estado</th>
            <th>Operador</th>
            <th>Vendedor</th>
            <th>Ver Detalle</th>
            <th>Cambiar Estado</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let recarga of historial">
            <td>{{ recarga.uuid }}</td>
            <td>{{ recarga.datatimeSale | date:'medium' }}</td>
            <td>{{ recarga.total | currency }}</td>
            <td>{{ recarga.recharged_phone }}</td>
            <td><span class="badge bg-info text-dark text-uppercase">{{ recarga.status }}</span></td>
            <td>{{ recarga.operator.name }}</td>
            <td>{{ recarga.seller.name }}</td>
            <td>
              <button type="button" (click)="obtenerVentaPorUuid(recarga.uuid)" class="btn btn-primary"
                data-bs-toggle="modal" data-bs-target="#clienteDetalleModal">
                Ver Detalles
              </button>
            </td>
            <td>
              <button type="button" class="btn btn-light" (click)="obtenerVentaPorUuid(recarga.uuid)" data-bs-toggle="modal" data-bs-target="#cambiarEstadoModal">
                Cambiar Estado
              </button>
            </td>
          </tr>
        </tbody>
      </table>

      <div *ngIf="!historial || historial.length === 0">
        <p class="text-center">No hay recargas registradas para este cliente.</p>
      </div>

      <div class="text-center mt-4">
        <button type="button" class="btn btn-primary" (click)="volverAlListado()">Volver al Listado</button>
      </div>
    </div>
    <div class="modal fade bd-example-modal-lg" id="clienteDetalleModal" tabindex="-1"
      aria-labelledby="clienteDetalleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="clienteDetalleModalLabel">
              Detalle de Recarga
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p><strong>UUID:</strong> {{ recargaSeleccionada?.uuid }}</p>
            <p><strong>Fecha:</strong> {{ recargaSeleccionada?.datatimeSale }}</p>
            <p>
              <strong>Monto:</strong> {{ recargaSeleccionada?.total }}
            </p>
            <p><strong>Telefono Recargado:</strong> {{ recargaSeleccionada?.recharged_phone }}</p>
            <p><strong>Estado:</strong> {{ recargaSeleccionada?.status }}</p>
            <p><strong>Operador:</strong> {{ recargaSeleccionada?.client?.name }}</p>
            <p><strong>Vendedor:</strong> {{ recargaSeleccionada?.operator?.name }}</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
              Cerrar
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade bd-example-modal-lg" id="cambiarEstadoModal" tabindex="-1" aria-labelledby="cambiarEstadoModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="cambiarEstadoModalLabel">Cambiar Estado de Recarga</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <select class="form-select" [(ngModel)]="estadoSeleccionado" aria-label="Default select example">
              <option selected>Seleccione El nuevo Estado</option>
              <option value="COMPLETADO">COMPLETADO</option>
              <option value="PROCESADO">PROCESADO</option>
              <option value="PENDIENTE">PENDIENTE</option>
              <option value="CANCELADO">CANCELADO</option>
            </select>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-primary" (click)="cambiarEstadoDeVenta(recargaSeleccionada.uuid, estadoSeleccionado)">Guardar</button>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="mostrarAlerta" class="alert alert-success fixed-top" role="alert" style="z-index: 99999;">
      {{ mensajeAlerta }}
    </div>
    <button type="button" class="btn btn-primary position-fixed fs-2 p-2 d-flex justify-center align-items-center"
      style="bottom: 20px; right: 20px; width: auto; height: 50px;" (click)="irACrearVenta()">
      <span>Crear Compra</span>
    </button>
  </div>
</div>