<div class="container">
    <div class="row">
        <h1 class="h3 text-center mb-4 mt-4 display-4">Registro de Venta</h1>
        <div class="form-box">
            <!-- Fecha y Hora de la Venta -->
            <div class="form-floating mb-3">
                <input type="date" class="form-control" id="floatingDatetimeSale" [(ngModel)]="nuevaVenta.datatimeSale" placeholder="Fecha y Hora de la Venta">
                <label for="floatingDatetimeSale">Fecha</label>
            </div>
            <!-- Monto Total de la Venta -->
            <div class="form-floating mb-3">
                <input type="number" class="form-control" id="floatingTotal" [(ngModel)]="nuevaVenta.total" placeholder="Monto Total">
                <label for="floatingTotal">Monto Total</label>
            </div>
            <!-- Teléfono Recargado -->
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingPhone" [(ngModel)]="nuevaVenta.recharged_phone" placeholder="Teléfono Recargado">
                <label for="floatingPhone">Teléfono Recargado</label>
            </div>
            <!-- Selector de Estado -->
            <div class="form-floating mb-3">
                <select class="form-select" id="floatingSelectSeller" [(ngModel)]="nuevaVenta.status" aria-label="Floating label select example">
                    <option selected value="">Selecciona un estado</option>
                    <option value="COMPLETADO">COMPLETADO</option>
                    <option value="PROCESADO">PROCESADO</option>
                    <option value="PENDIENTE">PENDIENTE</option>
                    <option value="CANCELADO">CANCELADO</option>
                </select>
                <label for="floatingSelectSeller">Estado</label>
            </div>
            <!-- Selector de Cliente -->
            <div class="form-floating mb-3">
                <select class="form-select" id="floatingSelectClient" [(ngModel)]="nuevaVenta.client_uuid" aria-label="Floating label select example">
                    <option selected value="">Selecciona un Cliente</option>
                    <option *ngFor="let cliente of clientes" [value]="cliente.uuid">{{cliente.name}}</option>
                </select>
                <label for="floatingSelectClient">Cliente</label>
            </div>
            <!-- Selector de Operador -->
            <div class="form-floating mb-3">
                <select class="form-select" id="floatingSelectOperator" [(ngModel)]="nuevaVenta.operator_uuid" aria-label="Floating label select example">
                    <option selected value="">Selecciona un Operador</option>
                    <option *ngFor="let operador of operadores" [value]="operador.uuid">{{operador.name}}</option>
                </select>
                <label for="floatingSelectOperator">Operador</label>
            </div>
            <!-- Selector de Vendedor -->
            <div class="form-floating mb-3">
                <select class="form-select" id="floatingSelectSeller" [(ngModel)]="nuevaVenta.seller_uuid" aria-label="Floating label select example">
                    <option selected value="">Selecciona un Vendedor</option>
                    <option *ngFor="let vendedor of vendedores" [value]="vendedor.uuid">{{vendedor.name}}</option>
                </select>
                <label for="floatingSelectSeller">Vendedor</label>
            </div>
            <!-- Botón de Registro -->
            <button type="button" class="btn btn-primary" (click)="registrarNuevaVenta()">Registrar Venta</button>
        </div>
        <div class="text-center mt-4">
            <button type="button" class="btn btn-primary" (click)="volverAlListado()">Volver al Listado</button>
        </div>
        <div *ngIf="mostrarAlerta" class="alert alert-success fixed-top" role="alert" style="z-index: 99999;">
            {{ mensajeAlerta }}
        </div>
    </div>
</div>
