<div class="container">
    <div class="row">
        <h1 class="h3 text-center mb-4 mt-4 display-4">Listado de Operadores</h1>
        <table class="table table-dark table-hover table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>UUID</th>
                    <th>Nombre</th>
                    <th>RUT</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let operador of operadores">
                    <td>{{ operador.uuid }}</td>
                    <td>{{ operador.name }}</td>
                    <td>{{ operador.rut }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <button type="button" class="btn btn-primary position-fixed fs-2 p-2 d-flex justify-center align-items-center" data-bs-toggle="modal" data-bs-target="#crearOperadorModal"
      style="bottom: 20px; right: 20px; width: auto; height: 50px;">
      <span>Crear Operador</span>
    </button>

    <!-- Modal para Crear Nuevo Operador -->
    <div class="modal fade" id="crearOperadorModal" tabindex="-1" aria-labelledby="crearOperadorModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="crearOperadorModalLabel">
                        Nuevo Operador
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingName" [(ngModel)]="operadorData.name" placeholder="Nombre">
                        <label for="floatingName">Nombre</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingDocument" [(ngModel)]="operadorData.rut" placeholder="Documento" required>
                        <label for="floatingDocument">RUT</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Cerrar
                    </button>
                    <button type="button" class="btn btn-primary"  (click)="registrarOperador(operadorData)">
                        Guardar Operador
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="mostrarAlerta" class="alert alert-success fixed-top" role="alert" style="z-index: 99999;">
      {{ mensajeAlerta }}
    </div>
</div>