<header>
  <!-- Encabezado y Navegación -->
</header>

<main>
  <div class="container mt-5" *ngIf="esInicio()">
    <div class="row">
      <div class="d-flex flex-column">
        <h1 class="h1">PEUEBA JEE</h1>
        <hr>
        <h2 class="h3">Ruta Cliente</h2>
        <nav class="navbar navbar-expand-lg navbar-light bg-light col-12">
          <!-- Menú Cliente -->
          <div class="d-flex nav">
            <a class="nav-link nav-item" routerLink="/clientes/acceso">Acceso Cliente</a>
          </div>
        </nav>
        <hr>
        <h2 class="h3">Ruta Vendedor</h2>
        <nav class="navbar navbar-expand-lg navbar-light bg-light col-12">
          <!-- Menú Vendedor -->
          <div class="d-flex nav">
            <a class="nav-link nav-item" routerLink="/clientes/registrar-cliente">Registrar Cliente</a>
            <a class="nav-link nav-item" routerLink="/operadores">Ver Operadores</a>
            <a class="nav-link nav-item" routerLink="/vendedores">Ver Vendedores</a>
            <a class="nav-link nav-item" routerLink="/ventas">Ventas</a>
            <a class="nav-link nav-item" routerLink="/ventas/crear-venta">Crear Venta</a>
          </div>
        </nav>
        <hr>
        <h2 class="h3">Ruta Supervisor</h2>
        <nav class="navbar navbar-expand-lg navbar-light bg-light col-12">
          <!-- Menú Supervisor -->
          <div class="d-flex nav">
            <a class="nav-link nav-item" routerLink="/ventas">Ventas</a>
          </div>
        </nav>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet> <!-- Aquí se renderizan los componentes de las rutas -->
</main>

<footer>
  <!-- Pie de página -->
</footer>