<div class="container">
    <div class="row">
        <h1 class="h3 text-center mb-4 mt-4 display-4">Registro de Venta</h1>
        <div class="form-box">
            <!-- Email -->
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" [(ngModel)]="email" placeholder="name@example.com">
                <label for="floatingInput">Correo Electronico</label>
            </div>
            <!-- Botón de ingreso -->
            <button type="button" class="btn btn-primary" (click)="accederConEmail()">Ingresar</button>
        </div>
        <div *ngIf="mostrarAlerta" class="alert alert-success fixed-top" role="alert" style="z-index: 99999;">
            {{ mensajeAlerta }}
        </div>
    </div>
</div>
