<div class="container">
    <div class="row">
        <h1 class="h3 text-center mb-4 mt-4 display-4">Listado de Vendedores</h1>
        <table class="table table-dark table-hover table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>UUID</th>
                    <th>Nombre</th>
                    <th>Documento</th>
                    <th>Teléfono</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let vendedor of vendedores">
                    <td>{{ vendedor.uuid }}</td>
                    <td>{{ vendedor.name }}</td>
                    <td>{{ vendedor.document }}</td>
                    <td>{{ vendedor.telephone }}</td>
                    <td>{{ vendedor.email }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <button type="button" class="btn btn-primary position-fixed fs-2 p-2 d-flex justify-center align-items-center" data-bs-toggle="modal" data-bs-target="#crearVendedorModal"
      style="bottom: 20px; right: 20px; width: auto; height: 50px;">
      <span>Crear Vendedor</span>
    </button>

    <!-- Modal para Crear Nuevo Vendedor -->
    <div class="modal fade" id="crearVendedorModal" tabindex="-1" aria-labelledby="crearVendedorModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="crearVendedorModalLabel">
                        Nuevo Vendedor
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingVendedorName" [(ngModel)]="vendedorData.name" placeholder="Nombre">
                        <label for="floatingVendedorName">Nombre</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingVendedorDocument" [(ngModel)]="vendedorData.document" placeholder="Documento">
                        <label for="floatingVendedorDocument">Documento</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingVendedorTelephone" [(ngModel)]="vendedorData.telephone" placeholder="Teléfono">
                        <label for="floatingVendedorTelephone">Teléfono</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="floatingVendedorEmail" [(ngModel)]="vendedorData.email" placeholder="Email">
                        <label for="floatingVendedorEmail">Email</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Cerrar
                    </button>
                    <button type="button" class="btn btn-primary" (click)="registrarVendedor(vendedorData)">
                        Guardar Vendedor
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="mostrarAlerta" class="alert alert-success fixed-top" role="alert" style="z-index: 99999;">
      {{ mensajeAlerta }}
    </div>
</div>
