<div class="container">
  <div class="row">
    <div>
      <h1 class="h3 text-center mb-4 mt-4 display-4">Listado de clientes</h1>
      <table class="table table-dark table-hover table-striped">
        <thead class="thead-dark">
          <tr>
            <th>UUID</th>
            <th>Nombre</th>
            <th>Documento</th>
            <th>Email</th>
            <th>Ver Detalle</th>
            <th>Ver Historia Recargas</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cliente of clientes">
            <td>{{ cliente.uuid }}</td>
            <td>{{ cliente.name }}</td>
            <td>{{ cliente.document }}</td>
            <td>{{ cliente.email }}</td>
            <!-- <td><button class="btn btn-primary">Detalle</button></td>
            <td><button class="btn btn-info">Historia Recargas</button></td> -->
            <td>
              <button type="button" (click)="obtenerClientePorUuid(cliente.uuid)" class="btn btn-primary"
                data-bs-toggle="modal" data-bs-target="#clienteDetalleModal">
                Ver Detalles
              </button>
            </td>
            <td>
              <button type="button" (click)="obtenerHistorialRecargasDeClientePorUuid(cliente)" class="btn btn-light">
                Ver Recargas
              </button>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="modal fade bd-example-modal-lg" id="clienteDetalleModal" tabindex="-1"
        aria-labelledby="clienteDetalleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="clienteDetalleModalLabel">
                Detalle del Cliente
              </h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p><strong>UUID:</strong> {{ clienteSeleccionado?.uuid }}</p>
              <p><strong>Nombre:</strong> {{ clienteSeleccionado?.name }}</p>
              <p>
                <strong>Documento:</strong> {{ clienteSeleccionado?.document }}
              </p>
              <p><strong>Email:</strong> {{ clienteSeleccionado?.email }}</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                Cerrar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button type="button" class="btn btn-primary rounded-circle position-fixed"
      style="bottom: 20px; right: 20px; width: 50px; height: 50px;" (click)="irACrearCliente()">
      +
    </button>
  </div>
</div>